{% extends "authentication/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% block footer %}
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>


        <h3>Contact Us, We Would Like To Hear From You</h3>

        <form method="POST" action="{% url "Contact-Page" %}">
            <ul class="ContactForm">
                <table>
                    <td><label for="fname">First Name</label>
                        <medium id="fname" class="ContactForm">{{ form.first_name }}</medium>
                    </td>
                    <td><label for="lname">Last Name</label>
                        <medium id="lname" class="ContactForm">{{ form.last_name }}</medium>
                    </td>
                    <td><label for="message">Subject</label>
                        <medium id="message" class="ContactForm">{{ form.message }}</medium>
                    </td>
                </table>
            </ul>
            <button type="submit">SEND</button>
        </form>

    {% endblock footer %}
{% endblock content %}
