{% extends "base.html" %}
{% block content %}
    {% block footer %}
        <style>
            center {
                text-align: center;
            }
        </style>

        <style>
            .content-section {
                background-color: rgba(0, 0, 0, 0.44);
                width: 100%;
            }
        </style>

        <style>
            h2 {
                font-size: 20px;
            }
        </style>

        <body>

        <center>
            <legend><b>The Corona Virus</b></legend>
        </center>

        <div class="container">
            <p><b>A coronavirus is a kind of common virus that causes an infection in your nose, sinuses, or upper
                throat. Most coronaviruses aren't dangerous.
                <br>
                In early 2020, after a December 2019 outbreak in China, the World Health Organization identified
                SARS-CoV-2 as a new type of coronavirus. The outbreak quickly spread around the world.
                <br>
                COVID-19 is a disease caused by SARS-CoV-2 that can trigger what doctors call a respiratory tract
                infection. It can affect your upper respiratory tract (sinuses, nose, and throat) or lower respiratory
                tract (windpipe and lungs).
                <br>
                It spreads the same way other coronaviruses do, mainly through person-to-person contact. Infections
                range from mild to deadly.
                <br>
                SARS-CoV-2 is one of seven types of coronavirus, including the ones that cause severe diseases like
                Middle East respiratory syndrome (MERS) and sudden acute respiratory syndrome (SARS). The other
                coronaviruses cause most of the colds that affect us during the year but aren't a serious threat for
                otherwise healthy people.</b></p>
        </div>


        <table style="width:100%">
            <tr>
                <td>
                    <div class="content-section">
                        <div align="left">
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/D9tTi-CDjDU"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="content-section">
                        <div align="left">
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/jgGdQkXJENA"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="content-section">
                        <div align="left">
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/sHP0UIdZyI4"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <h2><b>How many coronaviruses are found in humans?</b></h2>
        <p>
            <h2>To date seven human coronaviruses (HCoVs) have been identified Four of them are common; less high
                risk and
                typically cause only
                mild respiratory illnesses in healthy human adults. However, they contribute to a third of common cold
                infections and, in higher risk people with weak immune systems, they can cause long term,
                life-threatening
                illnesses.
            </h2>
        </p>
        <p>
            <h2>The other three (those causing MERS, SARS and COVID-19 cases) are known to
                <a href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/coronavirus-who-is-at-risk/art-20483301">
                    cause more severe illness
                </a>
                such as shortness of breath and even death. COVID-19 illness tends to be milder than SARS
                and MERS but more severe than disease caused by the four common coronaviruses.
            </h2>
        </p>


        </body>
    {% endblock footer %}
{% endblock content %}

