
{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>

    </style>
    <div class="col-12">
        <div class="cover">
            <img class="w-100 d-none d-sm-block"
                 src="https://mako.devdinocdn.com/CoronaVirusStats/images/cover.jpg">
            <img class="w-100 d-block d-sm-none"
                 src="https://mako.devdinocdn.com/CoronaVirusStats/images/cover_m.jpg">
        </div>
    </div>

    <style>
        p1 {
            border-bottom: 6px solid #9f0dc7;
        }
    </style>




    <h2><p1>COVID-19 Vaccination Variety + Short Info</p1></h2>




    <div class="container py-3 py-md-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <hr class="mx-auto w-60">
                <div class="w-100 pl-2 text-center">
                    <h2>
                        Pfizer Vaccine
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-1 d-none d-md-block d-lg-block">&nbsp;</div>
            <div class="col-12 px-auto col-lg-7 px-md-0 mst-center-dir-text ">
                <div class="pt-2 pt-md-3  d-md-block arimo content-txt w-100 ">

                    <p>
                        <b>Manufacturer</b>: Pfizer, Inc., and BioNTech.
                        <br>
                        <b>Number of Shots</b>: 2 shots, 21 days apart.
                        <br>
                        <b>Booster Shot</b>: Everyone ages 16 years and older can get a booster shot at least 6
                        months
                        after completing their Pfizer-BioNTech primary series.
                    </p>

                    <div class="mb-5 collapse arimo content-txt mst-print-show" id="collapseAbout-44535"
                         tabindex="0">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="mst-TextHolder">
        <div class="container py-3 py-md-5">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <hr class="mx-auto w-50">
                    <div class="w-100 pl-2 text-center">
                        <h2>
                            Moderna Vaccine
                        </h2>

                    </div>
                </div>
                <div class="col-12 col-lg-1 d-none d-md-block d-lg-block">&nbsp;</div>
                <div class="col-12 px-auto col-lg-7 px-md-0 mst-center-dir-text ">
                    <div class="pt-2 pt-md-3  d-md-block arimo content-txt w-100 ">

                        <p>
                            <b>Manufacturer</b>: ModernaTX, Inc.
                            <br>
                            <b>Number of Shots</b>: 2 shots, 28 days apart
                            <br>
                            <b>Booster Shot</b>: People ages 18 years and older who received a Moderna primary series
                            should get a booster shot at least 6 months after completing their primary series.
                        </p>

                        <div class="mb-5 collapse arimo content-txt mst-print-show" id="collapseAbout-44535"
                             tabindex="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mst-TextHolder">
        <div class="container py-3 py-md-5">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <hr class="mx-auto w-55">
                    <div class="w-100 pl-2 text-center">
                        <h2>
                            Johnson & Johnson Vaccine
                        </h2>
                    </div>
                </div>
                <div class="col-12 col-lg-1 d-none d-md-block d-lg-block">&nbsp;</div>
                <div class="col-12 px-auto col-lg-7 px-md-0 mst-center-dir-text ">
                    <div class="pt-2 pt-md-3  d-md-block arimo content-txt w-100 ">

                        <p>
                            <b>Manufacturer</b>: Janssen Pharmaceuticals Companies of Johnson & Johnson.
                            <br>
                            <b>Number of Shots</b>: 1 shot .
                            <br>
                            <b>Booster Shot</b>: At least 2 months after receiving your vaccine.
                        </p>

                        <div class="mb-5 collapse arimo content-txt mst-print-show" id="collapseAbout-44535"
                             tabindex="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- countries with the highest patient growth section -->

    <style>
        th {
            background-color: rgba(101, 94, 94, 0.44);

        }
    </style>

    <div style="width: 150%; display: table">

        <center>
            <h2><b><p1>The countries with the highest patient growth</p1></b></h2>
        </center>
        <div style="background-color: rgba(134,14,189,0.48)">

            <table class="table" border="2" style="text-align: center">
                <thead>
                <tr>
                    <th>City</th>
                    <th>New Patients</th>
                    <th>Patients</th>
                    <th>Deaths</th>
                    <th>Recovered</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        France
                    </td>
                    <td>232,200</td>
                    <td>9,972,800</td>
                    <td>123,741</td>
                    <td>8,091,292</td>
                </tr>

                <tr>
                    <td>
                        United Kingdom
                    </td>
                    <td>189,846</td>
                    <td>12,937,886</td>
                    <td>148,624</td>
                    <td>10,314,726</td>
                </tr>

                <tr>
                    <td>
                        Italy
                    </td>
                    <td>144,243</td>
                    <td>6,125,683</td>
                    <td>137,402</td>
                    <td>5,087,297</td>
                </tr>

                <tr>
                    <td>
                        Turkey
                    </td>
                    <td>40,786</td>
                    <td>9,482,550</td>
                    <td>82,361</td>
                    <td>9,063,312</td>
                </tr>

                <tr>
                    <td>
                        Japan
                    </td>
                    <td>40,560</td>
                    <td>1,210,853</td>
                    <td>20,790</td>
                    <td>1,013,362</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
    <!--End countries with the highest patient growth section -->




{% endblock content %}




