{% extends "base.html" %}
{% block content %}

    <script>
        Swal.fire({
            title: '<strong>Notice</strong>',
            icon: 'info',
            html:
                'An Email With A <b>Password Reset Link</b> Has Been Sent To Your Email Address, ',
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText:
                '<i class="fa fa-thumbs-up"></i> Got It!',
            confirmButtonAriaLabel: 'Thumbs up, great!',
        })
    </script>
    <div class="alert alert-info">
        Email Sent With Instructions.
    </div>

{% endblock content %}